* {
    background: #E5E5E5;
    font-family: 'Mortal Kombat 1', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;
}
.logo-a{
    padding-top: 10px;
    margin-left: 10px;
    width: 2%;
}
main{
    display: flex;
    margin-bottom: 50px;
    margin-left: 80px;
}
.ingresetexto{
    border: none;
    margin-top: 90px;
    text-transform: lowercase;
}
::placeholder { color: saddlebrown; }
    .ingresetexto:focus{
        outline: none;
}
.mensaje{
    background: white transparent;
    background-image: url(/imagenes/High\ quality\ products\ 1\ 1.png) transparent ;
    background-repeat: no-repeat;
    color: blue;
    margin-left: 98px;
    margin-top: 20px;
    padding-left: 20px;
    position: fixed;
}
h6{
    padding-left: 10px;
}
.eliminar img{
    padding-bottom: ;
    
}
.mensaje:focus {
    outline: none;
}
.botones {
    display: flex;
    margin-top: 18px;
}
.btn-encriptar{
    background-color: firebrick;
    border: 1px solid firebrick;
    border-radius: 24px;
    color: white;
    cursor: pointer;
    height: 50px;
    width: 250px;

}
.btn-desencriptar{
    background-color: firebrick;
    border: 1px solid firebrick;
    border-radius: 24px;
    color: white;
    cursor: pointer;
    height: 50px;
    width: 250px;
    margin-left: 20px;
}
.copiar {
    background-color: firebrick;
    color: white;
    border: 1px solid firebrick;
    border-radius: 24px;
    cursor: pointer;
    height: 50px;
    margin-left: 165px;
    margin-top: 420px;
    position: absolute;
    width: 250px;
}